@charset "UTF-8";

/************************************************************************************
 common
************************************************************************************/
*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width:960px;
  margin:10px auto;
}
circle{
  fill:white;
  stroke:steelblue;
  stroke-width:2px;
}
line{
  stroke:grey;
  stroke-width:3px;
}
.incRect{
  stroke:grey;
  shape-rendering:crispEdges;
}
#incMatx text{
  text-anchor:middle;
  cursor:default;
}
#treesvg g text:hover, #treesvg g circle:hover{
  cursor:pointer;
}
#navdiv{
  background:#555;
}
#treesvg{
  border:1px solid grey;
}
#labelpos{
  color:white;
}
#navdiv button, #navdiv textarea{
  vertical-align:middle;
}
#g_labels text{
  text-anchor:middle;
}
#g_elabels text{
  text-anchor:middle;
  fill:red;
  font-weight:bold;
}

.axis path,
.axis line{
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
